.all-product {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 25px;
}

.title {
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.count {
    margin-right: 50px;
    font-family: Arial, sans-serif;
}

.price {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100px;
}

.totalAmont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
}

.totalAmountchild {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 10px;
    transform: none;
}

@media (max-width: 600px) {
    .all-product {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        font-size: 14px;
    }

    .all-product img {
        width: 50px;
        /* Görsel boyutunu küçült */
        height: 50px;
    }

    .title {
        font-size: 14px;
        margin-right: 5px;
    }

    .count {
        margin-right: 5px;
        font-size: 12px;
        margin-right: 13px;
    }

    .price {
        font-size: 14px;
        width: auto;
        margin-right: 5px;
    }

    .totalAmont {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .totalAmountchild {
        font-size: 16px;
        margin-left: 0;
    }

    .MuiButton-root {
        width: 100%;
        margin-top: 20px;
    }

    .MuiDrawer-paper {
        overflow-y: auto;
    }
}